.loading-container {
  display: flex;
  flex-direction: column; /* Stack the name and slogan vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000; /* Black background for contrast */
  overflow: hidden;
}

.loading-text {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(2.6rem, 10vw, 12rem); /* Dynamically scales */
  font-weight: bold;
  color: #f0eaFF; /* Soft glowing text color */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  text-align: center;
  animation: zoomIn 3.3s ease-in-out infinite; /* Zoom-in effect */
  opacity: 0;
  margin: 0;
  padding: 0;
}

.slogan-text {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(0.6rem, 2vw, 3rem); /* Dynamically scales between min 1.2rem and max 3rem */
  font-weight: 300; /* Light font weight for a softer look */
  color: #f0eaFF; /* Soft glowing text color */
  text-transform: uppercase;
  letter-spacing: 0.55rem;
  white-space: nowrap;
  text-align: center;
  animation: fadeIn 3s ease-in-out infinite; /* Zoom-in effect */
  opacity: 0;
  padding: 0;
  margin: 0;
}


@media (max-width: 480px) {

  .slogan-text{
    letter-spacing: 0.15rem;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5) translateZ(-500px);
    opacity: 0;
  }
  50% {
    transform: scale(1.2) translateZ(-100px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
